body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
	color: #515151;
}

a {
	color: #515151;
	text-decoration: none;
}

header {
	background: #273B47;
	padding: 0 15px;
	display: flex;
	align-items: center;
	height: 50px;
	justify-content: space-between;
}

h2 {
	margin: 0;
	font-weight: 600;
	margin-bottom: 15px;
}

footer {
	background-color: #c1c1c1;
	padding: 40px;
}

.header-right {
	display: flex;
	align-items: center;
	height: inherit;
}

.header-avatar img {
	display: inherit;
	border-radius: 50%;
	margin: 11px 0 11px 12px;
}

figure {
	margin: 0;
}

nav {
	height: inherit;
}

nav ul {
	margin: 0;
	display: flex;
	height: inherit;
}

nav li::after {
	content: "|";
}

nav li:last-child::after {
	display: none;
}

nav li {
	list-style: none;
	color: white;
	display: flex;
	align-items: center;
	height: inherit;
}

nav a {
	color: white;
	text-decoration: none;
	padding: 0 10px;
	display: flex;
	align-items: center;
	height: inherit;
}

nav a.is-active {
	box-shadow: inset 0 5px 0 #7dcd40;
}

nav a:hover {
	box-shadow: inset 0 5px 0 red;
}

.button {
	color: white;
	text-decoration: none;
	background: gray;
	box-shadow: inset 0 -5px 0 rgba(0, 0, 0, .3);
	font-size: 14px;
	padding: 5px 10px 10px;
	border-radius: 5px;
	transition: .2s;
}

.button:active {
	transform: scale(.9);
}

.button.red {
	background: #ff4842;
	margin-left: 10px;
}

.button:hover {
	background-color: #7dcd40; 
}

.blog {
	background-color: #EFEFEF;
	display: flex;
	padding-bottom: 20px;
	margin-bottom: 20px;
}

.search {
	display: flex;
	justify-content: flex-end;
	padding: 5px 0;
}

.search input, .search button {
	padding: 8px;
	font-size: 15px;
	border: none;
	border-radius: 5px;
}

.search button {
	font-size: 16px;
}

.search input {
	font-family: 'Open Sans', sans-serif;
	margin-right: 5px;
}

.search button {
	transition: .2s;
	cursor: pointer;
	background-color: #333333;
	color: white;
}

.search button:active {
	transform: scale(.10)
}

.blog-main {
	position: relative;
	margin: 0 auto;
}

.blog-main .description {
	background-color: rgba(255, 255, 255, .8);
	padding: 20px;
	position: absolute;
	bottom: 30px;
	left: 30px;
	width: 500px;
	border-radius: 5px;
}

.autor {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 13px;
	border-top: 1px solid gray;
	padding-top: 15px;
}

.autor p {
	margin: 0;
	display: flex;
	align-items: center;
}

.autor img {
	padding-right: 5px; 
}

.blog-items {
	width: 1200px;
	margin: 0 auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.blog-items h3 {
	font-weight: 600;
	margin: 10px 0 15px;
}

.item-blog {
	width: 385px;
}

.item-blog .description {
	margin-bottom: 15px;
}

.item-blog img {
	transition: 0.25s;
}

.item-blog img:hover {
	opacity: 0.75;
}

.pager {
	font-family: 'Montserrat', sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 0;
}

.pager ul {
	display: flex;
	list-style: none;
	margin-left: 10px;
}

.pager li {
	background-color: #EAEAEA;
	height: 40px;
	line-height: 40px;
	margin: 0 5px;
	border: 1px solid gray;
}

.pager a {
	padding: 0 10px;
}

.pager li.selected {
	border-color: transparent;
	background-color: inherit;
}